.bar {
	display: block;
	width: 100%;
	height: 125px;
	background-color: #737373;
}

.logo {
	float: left;
	height: 100%;
	min-width: 256px;
	object-fit: cover;
}

.gradient {
	background: linear-gradient(to top, white, #737373);
}

.content {
	padding: 18rem 1rem 1rem 1rem;
}

.background {
	background-image: url("../img/cars.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center 80%;
	height: 25rem;
	width: 100%;
	position: absolute;
	box-shadow: 0 5px 5px #6c6c6c;
}

.opacity {
	opacity: 90%;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-content {
	float: right;
	width: 18rem;
	margin: 1rem 2rem 0 0;
	padding: 7px;
}

.icon {
	max-width: 15%;
	float: left;
}

@media (max-width: 550px) {
	.background {
		background-position: center 75%;
		background-size: 400% auto;
	}

	ul {
		padding-left: 1rem;
	}
}

@media (min-width: 551px) and (max-width: 767px) {
	.background {
		background-position: center 75%;
		background-size: 200% auto;
	}

	ul {
		padding-left: 1rem;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	ul {
		padding-left: 2rem;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	ul {
		padding-left: 3rem;
	}
}

@media (min-width: 1200px) {
	ul {
		padding-left: 4rem;
	}
}

h1, h2, li {
	font-family: "Arial", sans-serif;
}

html {
	background-color: white;
}

header {
	border-bottom: 1px solid white;
}

footer {
	border-top: 1px solid white;
}
